<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gradproject.borsa">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

       <!-- <activity android:name=".MarketOverView" />-->
        <activity android:name=".LogIn"  android:parentActivityName=".MainActivity"/>
        <activity android:name=".Logo" >

        </activity>
        <activity android:name=".guides" >
        </activity>
        <activity android:name=".Settings"  android:parentActivityName=".MainActivity"/>
        <activity android:name=".BrokerDetails"  android:parentActivityName=".MainActivity"/>
        <activity android:name=".SignUp"  android:parentActivityName=".MainActivity"/>
        <activity android:name=".Orange"  android:parentActivityName=".MainActivity" />
        <activity android:name=".Search"  android:parentActivityName=".MainActivity"/>
       <!-- <activity android:name=".Companies" />-->
        <activity android:name=".BrokersListActivity"/>



    </application>

</manifest>