<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gradproject.borsa"
    android:installLocation="preferExternal">

    <uses-library android:name="com.google.android.maps" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBgUeOKz9EUGSVNkRzNP9zdThNntDS7t5c" />

        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.LogoActivity"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.GuidesActivity"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.NewsActivity"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.CompaniesDetailsActivity"
            android:parentActivityName=".Activities.MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.ProfileActivity"
            android:parentActivityName=".Activities.MainActivity" />
    </application>

</manifest>